apiVersion: v1
kind: Pod
metadata:
  name: test-pod
  labels:
    app: test-pod
spec:
  containers:
  - name: test-pod
    image: alpine:latest
    command: ["/bin/sh", "-c", "apk add --no-cache curl && while true; do curl -I https://www.google.com; sleep 1; done"]
